# Python virtual environments
venv/
.venv/

# SQLite database
*.db

# Python cache
__pycache__/
*.pyc

# Environment variables
.env

# Editor / OS files
.vscode/
.DS_Store

# Lambda build artifacts
fitness_api_lambda.zip
lambda_package/
